<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfig" packages="org.apache.logging.log4j.test">

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %c{1} %-5p %L: %m%n"/>
        </Appender>
        <!-- Dummy appender that only serves as a place to define the layout for the Gui appender.
             For technical reasons the Gui appender has to be built programmatically. In the
             process of doing so we'll "extract" the layout defined here and "reimplant" it on
             the real (programmatically-built) Gui appender
             -->
        <Appender type="Console" name="gui_logger">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %c{1} %-5p %L: %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="main.Gui" level="trace" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <!-- Logger used to log in the GUI -->
        <Logger name="gui_logger" level="trace" additivity="false">
            <!-- Appender will be inserted programmatically -->
        </Logger>
    </Loggers>

</Configuration>